@font-face {
  font-family:'Anton';
  src: url(Fuentes/Anton/Anton-Regular.ttf);
}
@font-face {
  font-family:'Fjalla';
  src: url(Fuentes/Fjalla_One/);
}
@font-face {
  font-family:'Oswald-Light';
  src: url(Fuentes/Oswald/static/Oswald-Light.ttf);
}

* {
box-sizing: border-box;
padding: 0;
margin: 0;

}
body{
  width: 100%;
  height: 100%;
}
.header{
  background-color: black;
  width: 100%;
  height: 100vh;
  
  
}

.section-nav{
  width: 100%;
  height: auto;
  position: sticky;
  z-index: 50;
  top:0;
  background-color: #0000009c;

  
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  
}
.ul-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color:white;
  width: 50%;
  text-align: center;
}

.logo a, p{
  color:rgb(161, 0, 0);
  font-size: 3rem;
  font-family: 'Anton';
  text-decoration: none;
}
.ul-nav a{
  text-decoration: none;
  list-style: none;
  color:white;
  font-size: 1.5rem;
  font-family:'Oswald-Light';

}

main{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgb(19, 18, 18)
}
.section-card-info{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  border:violet 2px solid;

}

.section-card-info h2{
color: brown;
}

.card-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  flex-wrap: wrap;
  max-height: auto;
  border:2px red solid;
  

}

.card-element{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 160px;
  height: 30%;
  text-align: center;
  background-color: #323446;
}


/*.carousel {
  width: 100%;
  height: 768px;

}

.carousel-inner> .carousel-item> img { 
  object-fit: contain;
}*/





/*.carousel-inner img {
 
  
}
.carousel-item{
  display: block;
  min-width: 100%;
  min-height: 100%;
}*/

/* .carousel-inner img {
  display: flex;
 
  height: 100vh;
  width: 100vw;
} */


/*////////////para que el botón no quede marcado por el hover///
a {
   -webkit-tap-highlight-color: rgba(0,0,0,0)
  }
  //////////////////*/
/*.carousel-item{
  display: flex;
  justify-content: center;
  align-items: center;

}*/



.carousel-item img{
  object-fit: cover;
  max-height: 500px;
  
  /*bajar el max-heigt para responsive*/
}

@media (max-width:1205px) and (min-width:960px)  {
  .carousel-item img{
    max-height: 400px;
    
  }
}

@media (max-width:959px) and (min-width:720px)  {
  .carousel-item img{
    max-height: 300px;
    
  }
}

@media (max-width:719px) and (min-width:485px)  {
  .carousel-item img{
    max-height: 200px;
    
  }
}

@media (max-width:484px) and (min-width:300px)  {
  .carousel-item img{
    max-height: 155px;
    
  }
.logo a, p {
  font-size: 2rem;
}
.ul-nav a{
  width: 70%;
  font-size: 0.8rem;
}
.card-element{
  width: 250px;
  height: 350px;
  margin-bottom: 1rem;
}
main{
  height: auto;
}
}

