@font-face {
  font-family:'Anton';
  src: url(Fuentes/Anton/Anton-Regular.ttf);
}
@font-face {
  font-family:'Fjalla';
  src: url(Fuentes/Fjalla_One/);
}
@font-face {
  font-family:'Oswald-Light';
  src: url(Fuentes/Oswald/static/Oswald-Light.ttf);
}

@font-face {
  font-family:'PoiretOne';
  src: url(Fuentes/Poiret_One/PoiretOne-Regular.ttf);
}

* {
box-sizing: border-box;
padding: 0;
margin: 0;

}
body{
  width: 100%;
  height: 100%;
  
}
header{
  width: 100%;
  height: 10vh;
  position: sticky;
  top:0;
  z-index: 10;
  background-color: black;
}

.navbar1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  /* position: fixed;
  z-index: 10; */
  background-color: #0000008c;
  
}
.ul-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color:white;
  width: 50%;
  text-align: center;
}

.logo a {
  text-decoration: none;
}
.spanLogo{
  color:rgb(161, 0, 0);
  font-size: 3rem;
  font-family: 'Anton';
  text-decoration: none;
}

.spanEslogan{
  color:rgb(44, 70, 78);
  font-size: 1rem;
  font-family: 'Anton';
  text-decoration: none;
}
.logo-wrapper{
  width:20%;
  height: 50px;
}

  

.ul-nav a{
  text-decoration: none;
  list-style: none;
  color:white;
  font-size: 1.5rem;
  font-family:'Oswald-Light';

}

main{
  display: flex;
  width: 100%;
  height: auto;
}


/* .section-featured-container{
  display: flex;
  flex-direction: column;
  width:100%;
  justify-content: center;
  background-color: rgb(46, 0, 0);

}

.featured-box-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.box-element{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 280px;
  background-color: brown;

}
.box-img1, .box-img3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90%;

}
.box-img1 img {
  object-fit: cover;
  width: 33%;
  height: 100%;
} 

.box-img2 {
  object-fit: cover;
  display:grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  height: 90%;
} 
.box-img2 img {
width: 100%;
height: 100%; 
}

.box-img2 .first{
grid-area: 1 / 1;
}
.box-img2 .second{
  grid-area: 1 / 2;
}
.box-img2 .three{
  grid-area: 2 / 1;

}
.box-img2 .four{
  grid-area: 2 / 2;
}

.box-img3 img {
  object-fit: cover;
  width: 49.7%;
  height: 100%;
}

.text-box {
font-size: 1.1rem;
font-family: 'Oswald-Light';
color: white;
letter-spacing: 1px;

}

.section-card-container{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  border:violet 2px solid;

}

.section-card-container h2{
color: brown;
}

.card-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  flex-wrap: wrap;
  max-height: auto;
  border:2px red solid;
}

.card-element{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 17%;
  height: 350px;
  text-align: center;
  background-color: #323446;
} */




 


/*////////////para que el botón no quede marcado por el hover///
a {
   -webkit-tap-highlight-color: rgba(0,0,0,0)
  }
  //////////////////*/




  
  /*bajar el max-heigt para responsive*/


.carouselContainer{
display: flex;
flex-direction: row;
justify-content: space-between;
position:relative;
width: 100%;
height: auto;
}

.carousel{
  background-color: black;
}
.carousel-item img{
  object-fit: cover;
  max-height: 460px;
}
.filler{
  width: 25vw;
  height: 500px;
  background-color: black;
  
}

.info-page{
  width: 100vw;
  height: 500px;
  padding-left: 1.5%;
  position:absolute;
  z-index: 2;
 background: rgb(0,0,0);
 background: linear-gradient(90deg, rgba(0,0,0,0.9710259103641457) 23%, rgba(75,0,0,0.9009978991596639) 27%, rgba(213,0,0,0.6825105042016807) 32%, rgba(235,144,144,0.3519782913165266) 48%, rgba(252,252,252,0) 70%);
}

.info-page p{
  color:rgb(203, 210, 214);
}

.bigLogo{
  font-size: 7rem;
}
.bigEslogan{
  font-size: 4rem;
}

.description-principal{
width: 40%;
font-family:'PoiretOne';
font-size: 1rem;
font-weight: 500;
}

.btnWelcome{
  margin-top: 3%;
width: 40%;
}

.btnWelcome button{
border-radius: 20px;
width: 100px;
font-family:'Oswald-Light';
font-weight: 600;
margin: 0 10px;
font-size: 0.8rem;
padding: 3px;
letter-spacing: 1px;
text-transform: uppercase;
border: none;

}

.btnWel-1{
  background-color:rgb(161, 0, 0);
  color:white;
}

.btnWel-2{
  color:rgb(161, 0, 0);
}

@media (max-width:1205px) and (min-width:960px)  {
  .carousel-item img{
    max-height: 400px;
    
  }
}

@media (max-width:959px) and (min-width:720px)  {
  .carousel-item img{
    max-height: 300px;
    
  }
}

@media (max-width:719px) and (min-width:485px)  {
  .carousel-item img{
    max-height: 200px;
    
  }
}

@media (max-width:484px) and (min-width:300px)  {
  .carousel-item img{
    max-height: 155px;
    
  }
.logo a, p {
  font-size: 2rem;
}
.ul-nav a{
  width: 70%;
  font-size: 0.8rem;
}
.card-element{
  width: 250px;
  height: 350px;
  margin-bottom: 1rem;
}
main{
  height: auto;
}
}

